.container {
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
  margin: 0 0 20px 0;
  position: relative;
  text-decoration: none;
}

.image {
  border-radius: 5px 5px 0 0;
}

.container button {
  background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
  width: 100%;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  border: 0px;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
}
.container button:hover {
  background-color: rgba(39, 44, 49, 0.06);
}

.info {
  padding: 10px;
}

.info h2 {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.info h2 span {
  color: #33b13a;
}

.info p {
  font-size: 14px;
  font-weight: 300;
}
